@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "Cubano";
  src: url("../../fonts/Cubano.ttf");
}

@font-face {
  font-family: "Equinox";
  src: url("../../fonts/EquinoxBold.otf");
}

@font-face {
  font-family: "EquinoxRegular";
  src: url("../../fonts/Equinox/Regular.otf");
}
@font-face {
  font-family: "Modulus";
  src: url("../../fonts/Modulus.ttf");
}

@font-face {
  font-family: 'VoidBold';
  src: url("../../fonts/VoidBold.ttf");
}
@font-face {
  font-family: "VoidRegular";
  src: url("../../fonts/VoidRegular.ttf");
}
@font-face {
  font-family: "Reef";
  src: url("../../fonts/Reef.otf") ;
}

